:root {
  /* --main-color: #0d05f2; */
  --sec-color: black;
}
.logo {
  filter: brightness(3%) color(blue);
  width: 80%;
  cursor: pointer;
}
h4 {
  text-align: center;
  font-family: motiva-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-decoration: underline;
  text-transform: uppercase;
}
h4:hover {
  color: #201bbe;
  cursor: pointer;
}

body {
  margin: 1rem;
}

header {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: motiva-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 2rem;
  color: var(--main-color);
  /* display: block; */
}

nav ul {
  font-family: motiva-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.menu {
  text-align: end;
  list-style: none;
  text-transform: uppercase;
  justify-content: space-between;
}
.menu a {
  text-decoration: none;
  color: var(--main-color);
  /* font-family: ; */
}
.menu a:active {
  text-decoration: underline;
  color: #201bbe;
}

img {
  max-width: 100%;
  /* aspect-ratio: 1/1.5; */
}

.hide {
  display: none;
  text-align: center;
}
.hide_deco {
  display: none;
  text-align: center;
}

.grid {
  row-gap: 20px;
}

article {
  margin-bottom: 2rem;
  padding: 10px;
}

.grid_1-1-1 {
  border: solid 1.5px;
  padding: 1rem;
  cursor: pointer;
}

footer {
  text-align: center;
  font-size: 10px;
  font-family: motiva-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: var(--sec-color);
}

h2 {
  text-align: center;
  font-family: motiva-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  color: var(--main-color);
}

h3 {
  text-align: center;
  font-family: motiva-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  color: var(--sec-color);
}
.overskrift {
  font-family: kepler-std-display, serif;
  font-weight: 300;
  font-style: italic;
  text-transform: none;
  margin-top: -2.3rem;

  text-align: center;
}

article {
  color: var(--sec-color);
}

@media (min-width: 550px) {
  .logo {
    font-size: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    max-width: 90%;
  }
  header {
    display: block;
  }

  .menu {
    display: flex;
    gap: 10px;
  }

  .menu a:hover {
    text-decoration: underline;
    color: #201bbe;
  }
  .overskrift {
    margin-top: -4.2rem;
  }
  .hide {
    display: block;
  }
  .hide_deco {
    display: block;
    aspect-ratio: 1/1.5;
  }
  .grid_1-1-1 {
    display: flex;
    gap: 10px;
  }
  .billed_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 1/1.5;
  }
}

@media (min-width: 800px) {
  article {
    max-width: 70%;
    margin: auto;
    margin-bottom: 2rem;
  }
  nav ul {
    width: 50%;
  }
}
