:root {
  --main-color: #0d05f2;
  --sec-color: #999df2;
}

body {
  margin: 1rem;
}

header {
  flex-wrap: wrap;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-family: motiva-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 4rem;
  color: var(--main-color);
  /* font-size: 30px; */
  /* text-align: center; */
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  /* width: 50%; */
}

nav ul {
  font-family: motiva-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.menu {
  text-align: end;
  list-style: none;
  text-transform: uppercase;
  justify-content: space-between;
}
.menu a {
  text-decoration: none;
  color: var(--main-color);

  /* font-family: ; */
}

img {
  max-width: 100%;
  aspect-ratio: 1/1.5;
}

.hide {
  display: none;
  text-align: center;
}

.grid {
  row-gap: 20px;
}

article {
  margin-bottom: 2rem;
  padding: 10px;
}

footer {
  text-align: center;
  font-size: 10px;
  font-family: motiva-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: var(--sec-color);
}

h2 {
  text-align: center;
  font-family: motiva-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  color: var(--main-color);
}

h3 {
  text-align: center;
  font-family: motiva-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  color: var(--sec-color);
}
.overskrift {
  font-family: kepler-std-display, serif;
  font-weight: 300;
  font-style: italic;
  text-transform: none;
  margin-top: -2.3rem;
  margin-bottom: -4px;
  text-align: center;
}

article {
  border: solid 1.5px;
  color: var(--sec-color);
}

@media (min-width: 700px) {
  .menu {
    display: flex;
    gap: 10px;
  }

  .hide {
    display: block;
  }
  .grid_1-1-1 {
    display: flex;
    gap: 10px;
  }
  .billed_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: 800px) {
  article {
    max-width: 70%;
    margin: auto;
    margin-bottom: 2rem;
  }
}
